/DraftStore2/dist/
*.class
DraftStore2/build/web/gfv3ee6.dpf
*.dpf
*.class
*.properties

*.class

*.properties

*.class
*.class
DraftStore2/build/web/WEB-INF/classes/com/wrm/draftstore/classes/Fornecedor.class
