/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
td .hidden
{
    display: none;
}

#logo {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 2%;
}

#titulo {
	margin-top: 1%;
	margin-left: 80px;
	display: inline-block;
}

body {
	font-size: 20px;
	width: auto;
	height: auto;
}

h1 {
	font-size: 64px;
	margin-top: 20px;
}

li {
	font-size: 18px;
}

.form-group{
  display: block;
  padding-bottom:1.5em;
  font-size:18px;
}
.control-label{
  width: 195px;
  margin-right: -18px;
  margin-left: -35px;
  padding-left: 40px;
}
#selectTipo, #selectFornecedor, #selectCategoria, #selectSubCategoria{
    width: 196px;
}

#campoPreview{
    width: 333px;
}

#textareaDescricao{
    display: block;
    resize: none;
    min-width: 570px;
    min-height: 150px;
    flex-direction: row;
    cursor: auto;
    padding: 7px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    overflow-wrap: break-word;
    vertical-align:  baseline !important;
    alignment-baseline: baseline;
    -webkit-user-select: text;
    text-rendering: auto;
    text-transform: none;
    text-indent: 0px;
    text-align: start !important;
    -webkit-writing-mode: horizontal-tb;
    margin: 0;
    float: left;
}

#campoImagem{
    width: 480px;
    height: 100%;
    overflow: hidden;
    margin: auto;
}

#imgTeste{
    width: 100%;
    height: auto;
}

#descImagem{
    width: 570px;
}


#btnTeste2{
    margin-top: 10px;
    display: block;
}

button{
    margin-left: 120px;
    margin-right: 100px;
    width: 140px;
}


