/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
td .hidden
{
    display: none;
}

#logo {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 2%;
}

#titulo {
	margin-top: 1%;
	margin-left: 80px;
	display: inline-block;
}

body {
	font-size: 20px;
	width: auto;
	height: auto;
}

h1 {
	font-size: 64px;
	margin-top: 20px;
}

li {
	font-size: 18px;
}
#imagens{
    width: 250px;
    display: inline-block;
}
.log{
    width: 200px;
    float:left;
    margin-left:0;
    margin-right:10px;
}

.despesas{
    width: 200px;
    float:none;
    margin-left:auto; 
    margin-right:auto;
}
.desempenho{
    width: 200px;
    float:right; 
    margin-right:0;
    margin-left:10px;
}
#tdImg{
    margin-top: 70px;
    width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
a:link{
    text-decoration: none;
}

.log :hover,.despesas :hover,.desempenho :hover{
    color: blue;
}
.control-label{
  width: 150px;
  margin-right: -18px;
  margin-left: -35px;
  padding-left: 40px;
}
.meses{
  width: 950px;
}
#primeiro, #segundo{
    width: 380px;
}
#segundo{
    margin-top: 10px;
}
#botaoRelatorio{   
   margin-left:8px; 
   margin-top: 15px;
}